[2019-04-14 20:03] jfuenmayor96 opened #3 "Where is the best place to fetch initial data?"
Right now I am doing a project refactor. One of the changes we want to introduce is the use of a global state without using Redux. At first I tried using React Context but I saw your article on Medium and I liked how you managed to organize and modularize the actions and everything.

With React Context I could use a `fetchInfo()` method in the `componentDidMount()` method of the `ContextProvider`

[2019-04-15 20:02] andregardi commented on #3
@jfuenmayor96
Just for you, my friend, I published on npm the 0.1.7 version.
Now, it accepts a fourth parameter which allows us to do this:

[code]

Checkout the full example in sandbox:
https://codesandbox.io/s/lxk5om3k0m

[2019-04-15 21:05] #3 closed, assigned to nobody

[2019-04-19 00:47] juand89 opened #4 "Defining data stores"
I want to replace mobx with this state management, but I am having trouble thinking how to add multiple stores with different states. What would be the best way to achieve this?

[2019-05-09 13:47] fcaride opened #5 "Persist State"
First of all great approach!

Is there any way to persist the state generated?

[2019-05-13 13:41] nmccready opened #6 "Add Unit and Other Tests"
This is a great approach and I am seriously considering using this in place of using useContext. While this library is small; I still feel there is an utmost importance for tests to exist.

Bottom line if tests were in place, adoption of this library would be a much simpler decision to make.

[2019-06-14 15:24] nmccready opened #10 "Add Linting and Publish ES5 artifact"
Only mentioning this as I have already completed this which makes things much easier with dealing with Jest in other libraries.

https://github.com/nmccready/use-global-hook

[2019-06-28 10:51] yanlee26 opened #12 "Cool， so why not have typescript supported？"

[2019-06-30 05:13] yanlee26 opened #13 "Can here fn.call be used? cause it seems hard to understand.."
https://github.com/andregardi/use-global-hook/blob/355f1d8a83a0b2ff20081a25a3fb3e455c50ce41/index.js#L23

[2019-06-30 05:37] yanlee26 commented on #13
seems cannot. While I think there exist better way.

[2019-07-08 01:03] MGItkin commented on #12
+1 but, I'm not experienced enough in TS to create the definitions and I couldn't get the auto-generator to work. Any advice on a path forward?

[2019-07-19 01:58] yanlee26 commented on #12
https://medium.com

[2019-07-30 05:30] iamswain25 commented on #5
[code]

[2019-08-16 19:51] RustyDev commented on #10
You mentioned Jest. Do you have a working example of testing?

[2019-08-22 20:54] nmccready commented on #12
Supported here . Same code but fully typed with some extensions and fixes.

https://github.com/nmccready/use-global-hook

[2019-08-22 20:55] nmccready commented on #12
I'd make a PR back to here if it would be accepted in a reasonable about of time. I had old outstanding PRs which took very long. This is why I have run w/ my own fork.

[2019-08-22 20:56] nmccready commented on #6
Fully tested here https://github.com/nmccready/use-global-hook/blob/master/src/index.spec.ts

[2019-08-22 21:14] andregardi commented on #4
@juand89
I am sorry for taking so long.
You should have only one store with multiple objects inside it, just like redux.

[2019-08-22 21:15] #5 closed, assigned to nobody

[2019-08-22 21:22] andregardi commented on #13
Yep,
fn.call would be more execute the function rather than bind the parameters.

[2019-08-22 21:22] #13 closed, assigned to nobody

[2019-08-22 21:22] #4 closed, assigned to nobody

[2019-08-23 17:48] nmccready opened #14 "Bug: Race conditions"
I have seen several race conditions present themselves when either racing to register a listener or deregistering a listener. In these cases a listener may miss an update and or the listener function may be even missing all together.

See this example https://codepen.io/nmccready/pen/vYBgrGR

[code]
Remove the `setTimeout` and you will see the Consumer will miss and never get any updates to the st

[2019-08-25 15:33] andregardi commented on #14
Yes, interesting conditions you got there.

For the readers with difficult to understand the nmccready conde:
In this example, he is using a forked version of the library.

@nmccready
Combining the reference callback inside the useMemo hook rendering it at the same level of the consumer created a very particular condition.

To better understand the problem we need to, first understand that:
1 - Th

[2019-08-25 16:28] nmccready commented on #14
Sounds like a solid plan :)

[2019-08-25 16:43] andregardi commented on #6
It is great @nmccready . Can you adapt this tests to the current version of the project?
If you (or anyone) create a pull request with only the test for the javascript version, I would love to accept it.
Thank you

[2019-08-25 16:58] andregardi commented on #12
Nice @nmccready
But I would prefer to not change the whole code to typescript.
If someone could create a definitions type file (.d.ts), would be great!

[2019-08-25 17:02] nmccready commented on #12
Right I used to be just like you and holding out against typescript. But this project really is perfect for it as its a very small project which is easy to get used to for typescript itself.

 I was managing the type definitions separate  from the code base as you suggest. This actually turned out to be a major pain where the TS interface did not really match what the real code was doing.

It wasn

[2019-08-25 17:03] nmccready commented on #12
Also the type definitions are extremely useful in other projects to clearly see what your interacting with.

[2019-08-26 02:24] andregardi commented on #14
Version 0.1.8 released - bug fixed.
Check line 14

https://github.com/andregardi/use-global-hook/blob/f6a58c774364b7231601518d0d8dd1ee8ace6163/index.js#L14

I took the opportunity to remove the use of "this".

[2019-08-26 02:24] #14 closed, assigned to nobody

[2019-08-26 12:10] nmccready commented on #14
Nice

[2019-09-14 07:47] subhendukundu opened #16 "Unhandled Rejection (TypeError): Cannot read property 'run' of undefined"
Is there a chance of `store.listeners[i]` can be undefined at anytime from the below code, using the latest version?
[code]
I am calling the globalaction aomething like this
[code]
and in my actions
[code]
It will be very helpful to know your thoughts on this.

[2019-09-16 14:55] andregardi commented on #16
Hello @subhendukundu
It is a possibility.
I think there is nothing wrong with the way you are calling the library.
Can you share a sandbox (like https://codesandbox.io/) with a reprosusable version of the problem?

Alternative approach:
You can also open the package file, inside the node_modules, replace the **for** for a **foreach**.

[code]

To

[code]

If that works, I will create a new release

[2019-09-16 21:03] subhendukundu commented on #16
Yes, you are right, that fixed the issue.
I added a PR. [#17](https://github.com/andregardi/use-global-hook/pull/17)

[2019-09-16 23:13] andregardi commented on #16
Thank you @subhendukundu
Version 0.1.11 released.

[2019-09-16 23:13] #16 closed, assigned to nobody

[2019-09-19 12:17] cywtf opened #20 "React Hook "useGlobalHook" cannot be called at the top level"
Newer versions of react-scripts that includes `eslint-plugin-react-hooks` directly will not allow calling `const useGlobal = useGlobalHook(React, initialState, actions)` outside of a function component.

The linter will throw an error:

How would you refactor any of your examples to comply to this particular rule of Hooks?
Something as the Minimal example in the [npm package](https://www.npmjs.com

[2019-09-19 17:41] andregardi commented on #20
@rootion
For now, we can adjust it changing the name of the import:

import globalHook from 'use-global-hook';
const useGlobal = globalHook(React, initialState, actions);

The globalHook itself doesn't call any hook,so it is safe to use on the top level.
Bealive or not, this lint rule is not really looking if we have a hook inside the function.
It is only checking if the function starts with the w

[2019-09-20 09:56] cywtf commented on #20
Thank you for the answer, I didn't know that a simple rename could shut up the linter.
If the globalHook itself doesn't call any hook at the top level, then it doesn't break any rule of hooks.

[2019-09-20 09:56] #20 closed, assigned to nobody

[2019-09-23 05:57] ojameso commented on #12
Really neat and needed the functionality for a project I'm working on so I wrote my own `use-global-hook.d.ts`. It's been working for me. Any improvements or suggestions to this would be greatly appreciated.

[code]

It would be great if the associated actions could be inferred, but since the functions are bound and actions could have a tree, it's tough to write a generic for it.
Would be used as

[2019-09-24 18:15] DanielRuf commented on #12
Would be great to have the PR(s) to get the changes.

[2019-09-24 21:22] ojameso commented on #12
I'd be more than happy to add the above type definition to definitely typed and then post a pr here to add instructions for typescript users on the README. If @andregardi is ok with that.

[2019-09-25 03:35] DanielRuf commented on #12
Sure, why should he not be ok with it?

[2019-09-25 04:40] andregardi commented on #12
Hello @ojameso
I would love to see a pull request with yours files.
Thank you for taking interest on the project.

[2019-09-25 18:50] ojameso commented on #12
@DanielRuf @yanlee26 @MGItkin Typescript now supported. Refer to the PR above. But basically, `npm install --dev @types/use-global-hook`. And use the `Store` interface provided by the type definition. Details on how to use are now on the README.md.

[2019-10-01 20:16] NicholasBertazzon opened #23 "Double render on react-native"
Hi,
First or all, thanks a lot for your work.
Do you experience a double render instead of one in react-native? With other hooks, like useState, I get one render, but with this, I get another render out of nowhere.
**It happens only when the component is being mount the first time, in every single component.**
Also, if you use 2/3/4/X of your hooks in the component, it doesn't matter. It still ren

[2019-10-02 01:52] abdelav opened #24 "Comunication between stores"
What is the proper way to communicate between two stores, for example, get the email from the user store state to mailer store?

[2019-10-03 05:41] devgripes commented on #6
i also used this to my current project, can someone here help me on writing the test? i just started learning react with react-hooks and global-store

[2019-10-03 11:45] nmccready commented on #6
I submitted the PR of the tests all converted JS (August), its has not been merged.

[2019-10-03 11:51] nmccready commented on #23
Did you try wrapping any of this in `useMemo` to see if that might help?

[2019-10-04 19:30] nodtem66 commented on #23
Hi @NicholasBertazzon @nmccready
I've found this too, see in https://codesandbox.io/s/4h3n3

After digging for an hour, I proposed the solution as see in `store/use-global-hook.js`.
Change the `React.useState(Object.create(null));` to `React.useState(state);`.

Let's see the effect by comment Line 2 and uncomment Line 4 in `store/index.js`
Cheers

[2019-10-04 20:03] nmccready commented on #23
@nodtem66 nice work, that should be a PR I can see how it would double render now as the original hooks default state would not have been the original state. Therefore, it would immediately update. I'd make a PR.

[2019-10-11 07:00] ieow commented on #12
Having React Type error when trying to use typescript.
Is it fixed React version needed to run this library?
Shouldn't it be more flexible ?

Error:
Argument of type 'typeof React' is not assignable to parameter of type 'typeof React'.
  Types of property 'lazy' are incompatible.
    Type '<T extends React.ComponentType<any>>(factory: () => Promise<{ default: T; }>) => React.LazyExoticComponent<T>

[2019-10-11 09:49] DanielRuf commented on #12
@ieow please create a new issue and provide all relevant details (your TypeScript and `tsc` version, a reproducible testcase and so on).

[2019-10-17 06:17] ojameso commented on #12
@ieow agreed with @DanielRuf but did open a [new pr with DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/39199) that I think will address the issue as well as incorporate a better type def so we don't have to include the expected types. Much cleaner usage.

[2019-10-23 13:15] jminnihan opened #26 "Add Example(s) for Non-Monolithic Application Designs"
Great concept, poor real-world examples. Most SPA applications are non-monolithic in design, containing many features, each with their own states and actions. It would be a "good thing" to assist developers in developing an model example application containing at least two features and show how each feature defines their own global hooks, scopes and actions and then composites each of the feature

[2019-10-23 17:34] lveillard commented on #26
I came looking for this. My store.js is too big and I would love to divide it in some pieces :)

[2019-10-29 14:12] patyiscoding opened #27 "SyntaxError: Unexpected token export"
Language used: Typescript

I'm getting `SyntaxError: Unexpected token export` at `module.exports = require("use-global-hook");`. Should I add something to my babel configuration in order for the global hook to work?

[2019-11-01 13:16] ddubson commented on #27
Having the same issue when running Jest (using ts-jest transformer).

Here's the error:

[code]

[2019-11-03 19:41] jotty-mcclure commented on #27
I'm seeing the same issue, but it only occurs when I refresh the page.

[2019-11-04 07:15] siwei-lu opened #28 "How could I get a chance to access other hooks?"
I'm trying to push a new history after an asynchronous action done, hence I have to use `useHistory` hook from `react-router-dom`.

How could I?

[2019-11-05 16:03] andregardi commented on #28
@IdanLoo
It is a little hard to help without an example.
Maybe, for example, you could extract "goBack" from the useHistory and send it as a parameter to your action and call it there.

Does that help you?

[2019-11-05 16:07] andregardi commented on #24
@abdelav
Actually, you supposed to have only one store, with the whole state. If you have difficult to manage all your data, remember that you can split your actions on several files. You can nest it in as many level you want. See the example:
https://codesandbox.io/s/wqvykj5497

Does that help you?

[2019-11-05 16:12] andregardi commented on #27
Guys, I am no TS expert.
Maybe I take some time to check it out soon. But, if anyone, have a tip on it, I would appreciate it.

[2019-11-05 16:20] andregardi commented on #26
You supposed to have a single store with all your data, like redux. You can split your actions in several files, nested in as many levels you want.

@lveillard
If your store.js is too big, you are trying to declare all your actions or a big initial state in one file only.
If you share an example of what you are doing, I can try to help you to split the files.

In short,
1 - you can split your acti

[2019-11-05 16:57] ddubson commented on #27
My guess is the issue comes from `export default useStore` statement at the end of `index.js` published artifact. In my project, I replaced `export default useStore` with older ES5 syntax `module.exports = useStore;` and it started working.

[2019-11-08 10:41] dhanushka4 opened #29 "Allow shallow comparing in mapState"
https://codesandbox.io/s/several-counters-tkf46, if you look at CounterA, I am returning an object with selected state values. This re-renders the counter every time. Can we allow shallow comparison between props?

[2019-11-08 20:35] #28 closed, assigned to nobody

[2019-11-08 20:35] #26 closed, assigned to nobody

[2019-11-08 20:35] #24 closed, assigned to nobody

[2019-11-09 01:48] siwei-lu commented on #28
Thx. It helps.

[2019-11-10 18:28] jayfar opened #30 "Less Verbose Subset of global state / actions"
Your control is great. I have been using the "Avoid unnecessary renders" feature by mapping a subset of the global state so it only re-renders if the subset is updated. In your example here https://codesandbox.io/s/several-counters-pdbsy, you have

    const [counterA, addToCounterA] = useGlobal(
        state => state.counterA,
        actions => actions.addToCounterA
    );

In my project, on on

[2019-11-11 13:26] BilalQadri commented on #27
thanks

[2019-11-26 14:41] lveillard commented on #26
Yay! awesome! thank you i was just including all the actions in the same file :)
Maybe sharing that example on the doc would be a good idea for noobs like me

Thank you for the help!

[2019-11-30 13:23] DaveClissold commented on #12
I am getting an odd ts error
[code]

when trying to use a subset of the state with the following
[code]

[2019-12-05 07:00] #12 closed, assigned to nobody

[2019-12-06 06:04] jhampton commented on #30
@jayfar - I'd create a couple of helper functions that do what you're looking for.  Since I was wondering the same, I'd say something like this (untested, just TS-ish)

[code]

HTH!

[2019-12-06 15:29] jayfar commented on #30
@jhampton - Thanks. That did help! I had to tweak your suggestion slightly to get it to work, but the idea is the same. Here are the modified helper function that I got working (JS). Mine could possibly be more compact, but they work for me.

[code]

Thanks again.

[2019-12-11 21:48] baymer opened #31 "Is this package supporting and progressing?"
Hello! Thx for your package. We are thinking about using it an enterprise. So, we need to be sure that this pack will be progressing. We are ready to contribute if it will be needed.

[2019-12-13 19:27] andregardi commented on #31
Hello @baymer ,
I intend to continue to support this package indefinitely. It would be very interesting your participation in the project. However, I currently do not have a plan to add new features. I will be here if any React changes prevent the library from working or if anyone finds any bug that need my help.

[2019-12-19 19:03] BilalQadri opened #33 "how to unsubscribe from store when component unmounts?"

[2019-12-21 13:06] itsam commented on #5
@iamswain25 Can you please give a simplified example how to use this? Thanks in advance

[2019-12-21 14:39] itsam opened #35 "Persist"
Hello, thank you for your effort!
Can you please advise (or ideally provide an example) on how to persist the state with localStorage?
Best!

[2019-12-21 17:39] itsam commented on #35
Well, the following seems to work for React Native...
Hope it helps someone
[code]

[2019-12-21 17:45] #35 closed, assigned to nobody

[2019-12-24 12:28] itsam commented on #23
@nodtem66 , @nmccready , @andregardi
Indeed there's a double rendering in React Native and the above solution works nicely, but the real difference is made by commenting out
[code]

[2019-12-27 13:14] andregardi commented on #33
The library already does that for you.
It does that on the return of the useEffect function.

[2019-12-27 13:14] #33 closed, assigned to nobody

[2020-01-02 23:10] ojameso commented on #12
@DaveClissold I think the docs on using TS is outdated. If you have the latest TS definitions from definitelyTyped, you do not have to pass in the types expected. So you can write...
[code]

[2020-01-02 23:21] ojameso commented on #30
@jayfar You can also return an array that you need and ignore the actions.
[code]
Same for actions, but simply pass undefined for state
[code]

[2020-01-25 21:28] DaveClissold commented on #12
@ojameso When I try the above I get `Object is of type 'unknown'` for actions. Any ideas?

[2020-01-29 19:06] pghtimwilson commented on #31
@andregardi are you going to tend to any of the pull requests?

[2020-02-05 04:31] adonisdoda opened #37 "Problem when use Animated.value"
Hello my friend, first of all...Good Work with this library, i use much and love like is simple.
I discover the issue in my project for example, when i set an state with a animated value (new Animated.value) for any reason if I unmounted the component and reset the state (seting initial state) this value not 'reset', i need force reset for work.
What can this be?
![image](https://user-images.githu

[2020-02-05 19:48] ojameso commented on #12
@DaveClissold do you have the latest type definitions?

[2020-02-06 01:56] andregardi commented on #37
@adonisdoda
The AnimatedLocalComponent inside the initialState is passed as reference. So, you have the same instance of Animate inside your  store.state and your initialState object. When you call store.setState(initialState) it is actually work, but your initialState.AnimatedLocalComponent was manipulated.

You will have the same problem with any object that its methods manipulates its internal

[2020-02-06 23:25] adonisdoda commented on #37
Oh tnks for response .
It's worked for me.

[2020-02-06 23:25] #37 closed, assigned to nobody

[2020-02-07 21:28] DaveClissold commented on #12
@ojameso I assume I am. They should be version 0.1.2 correct, committed on 23 October 2019?  When I check the repository, the comment at the top reads the following.

```// Type definitions for use-global-hook 0.1```

[https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/use-global-hook/index.d.ts](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/use-global-hook

[2020-02-12 04:03] ptisdel opened #40 "Cleanup not working: 'Can't perform a React state update on an unmounted component.'"
I'm getting the following warning:

Here's my (simplified) code.

**App.js**
[code]

**PlayerPage.js**
[code]

This works, but if `playerId` in GlobalState is changed by GlobalAction to null, I get the warning above when it tries to perform a state update on the unmounted PlayerPage. Since useGlobalHook handles cleanup on its own, I'm not sure why I'm getting this warning.

[2020-02-24 08:32] xiaomocqk commented on #40
I have the same issue

[2020-03-17 06:45] dishcandanty commented on #30
@ojameso is there a way to do that with variables?

[code]

^ this seems to cause renders on anything in `s.state`

[2020-03-19 23:14] misha-panyushkin opened #42 "Cannot update a component from inside the function body of a different component"
### After upgrading to React 16.13.0 I started getting the warning of the following kind:
![2020-03-20 02 10 59](https://user-images.githubusercontent.com/890700/77123025-188c5780-6a50-11ea-8df3-15bca292c902.jpg)
I suppose, the first lines are referenced to React Core and the very next line is for the `use-global-hook` lib. Could you please check if there is an error occurs with the latest React v

[2020-03-24 09:18] yanfeix commented on #27
Hi @andregardi, when are you gonna release the fix on https://www.npmjs.com/package/use-global-hook? I have run into this issue as well, and blocked on the unit-test.

[2020-03-26 16:23] andregardi commented on #42
Hi @misha-panyushkin
I will take a look on it on the weekend.

[2020-03-26 17:59] rimsila commented on #31
I think you should have more example case in code-sandbox. Thanks you

[2020-03-30 16:04] ngoductaka commented on #40
in node_module/use-global-hook/index.js:
[code]

[2020-04-10 07:50] rimsila opened #43 "Can we use with redux dev-tool?"

[2020-04-21 10:22] sanjups7 commented on #40
I also have this issue, in my case this is happening when redirected to a new page after a async action is done.
`
const isMountedRef = React.useRef(null);
const [globalState, globalActions] = useGlobal();
const { isLogged } = globalState.appContext;
const { login } = globalActions.appContext;
React.useEffect(() => {
	isMountedRef.current = true;
	if (isLogged) {
		if (isMountedRef.current) {
			h

[2020-04-21 20:49] amiramix commented on #42
See https://github.com/facebook/react/issues/18178 and many similar issues around the internet. The simplest solution is to wrap the `setState `that is causing the problem with `useEffect`. That way the global state will be updated after the render is finished, which is how it should be done.

I don't think there is anything the library itself could do maybe apart from artificially delaying all up

[2020-04-24 07:04] pprimm commented on #23
I believe I see an "initial double-render" when the component is mounted in React.  I took the "Avoid unnecessary renders" codesandbox example and removed `<h3>{renderTime()}</h3>` from `<App />` and changed `renderTime()` to:
[code]
I get two (2) log entries when a component is added and only one entry for each component when a counter is incremented.  [https://codesandbox.io/s/several-counters-d

[2020-05-19 17:44] theceremony commented on #40
yeah I'm getting the same issue, is there a way to unsubscribe from the listeners in the cleanup on useEffect, seems like that could be a solution?

[2020-06-04 13:34] bayerlse opened #44 "Ability to just use actions"
Hey There,

very nice lib!
Is there a possibility to just get a certain action?

Thanks & br,

Sebi

[2020-06-15 22:45] #43 closed, assigned to nobody

[2020-06-17 22:46] lveillard commented on #44
Not sure if understood but you can split your actions in differen files and then access then by
GlobalActions.subcat.youraction().

But as long as i know the only way to import that is still importing all actions in your globalAction object

[2020-06-17 23:00] lveillard opened #45 "💡 store.updateState()"
Hello!
First, I love your lib, im using in any single project as i'm too lazy to use redux. And it works like a charm, never found a limitation or a bug!

On the other hand I find myself using setState as this all the time:

[code]

//actions
I want action to update "db" while keeping current "users" so I do something like this:

`store.setState({isLoading: {...store.state.isLoading, db:true}})
`

[2020-06-17 23:07] lveillard opened #46 "💡 having multiple stores"
Another thing that would may help is to have multiple stores.

Not sure if that is already possible but would help.
I already have multiple actions files (12 + index in my current biggest project) which makes my functions well organized.

On the other hand the store is becoming a bit big also so  in addition to the store.updateState() I'm proposing in the other issue, would love to be able to do s

[2020-06-17 23:10] lveillard commented on #31
I may be able to help you rimsila, do you have a particular example that you struggled to learn?
Maybe I can do that example for you and ask andregardi to add it in the readme

[2020-07-03 13:35] tillkolter commented on #27
Is this project still maintained?

[2020-07-16 09:34] huy23121994 opened #48 "Duplicate rendering?"
I just test a simple code as below, and I don't understand my component render twice if the state is changed?
Is this bug or ... feature?

![image](https://user-images.githubusercontent.com/9770074/87655216-2645b580-c782-11ea-8c60-77fa4bbb2ca0.png)

![image](https://user-images.githubusercontent.com/9770074/87655246-32317780-c782-11ea-9dd3-cdc84cc60deb.png)

In browser console

![image](https://us

[2020-07-16 10:43] huy23121994 commented on #48
btw, when use `npm i use-global-hook`, It will install v0.1.12 by default, with above problem, User component rerender 4 times

[2020-07-21 16:41] nodtem66 commented on #48
@s-KaiNet proposed two solutions. Let's try them.
https://github.com/andregardi/use-global-hook/pull/25

[2020-07-21 23:55] Maxoos commented on #48
I think this is a duplicate of [https://github.com/andregardi/use-global-hook/issues/23](url)

[2020-07-23 13:37] nodtem66 commented on #48
@huy23121994
I suspected the double-rendering from #25 and [double-rendering from React.StrictMode](https://mariosfakiolas.com/blog/my-react-components-render-twice-and-drive-me-crazy/), used in default `index.js` of `create-react-app`

See [my codesandbox](https://codesandbox.io/s/use-global-hook-48-x9xl3?file=/src/index.js)

[2020-07-27 08:22] huy23121994 commented on #48
Understood, thanks man @nodtem66

[2020-07-27 08:22] #48 closed, assigned to nobody

[2020-08-07 13:33] #23 closed, assigned to nobody

[2020-08-07 13:37] #27 closed, assigned to nobody

[2020-08-07 14:02] andregardi commented on #45
@lveillard
Sorry for the delay, I would love to see your implementation of it.
As long it keeps compatible with old versions and don't add new dependencies to the package, I think this is a good idea.

Thank you for your contribution.

[2020-08-07 16:39] andregardi commented on #46
About splitting the store on more than one file you could import other initial states in smaller files and merge it on a main exporter. Like:

**./initialState.js**
[code]

**./level1A/index.js**
[code]

And so on...

If you really want, you could create several instances of the globalHook and each one would have its own state and actions. But I would recommend keep the single store and maybe use

[2020-08-11 00:00] andregardi commented on #45
@lveillard
I am working on a immer.js integration.
For that reason I think that maybe make the effort to implement this ourselves is not necessary.

Thanks for the idea.

[2020-08-26 01:25] fantasticsoul opened #52 "Use-global-state is so cool"
Use-global-state is so cool, and in big react project, I also recommend [concent](https://github.com/concentjs/concent), wish you can have a quick look and a try, my dear dude.

[2020-09-14 22:22] #52 closed, assigned to nobody

[2020-09-19 07:30] sm2017 opened #53 "Functional updates"
@andregardi  see https://github.com/andregardi/use-global-hook/blob/master/src/core/setState.js#L2 you are not supporting functional updates

[2020-09-20 09:30] sm2017 opened #54 "Outside of react component"
@andregardi How can I access store , and dispatching actions outside of react components?

[2020-09-22 08:09] huy23121994 opened #55 "Get data from another store?"
I have multiple store, so how can I connect/get data from another store?

[2020-09-22 08:10] huy23121994 commented on #54
same question, lol

[2020-09-22 10:13] gor918 commented on #54
@andregardi, I think it will be better to have more examples in Readme to avoid similar questions.

[2020-09-27 06:50] gnolnuhc opened #56 "Possible redundant update?"
`const newListener = { oldState: {} };` under file newListenerEffect.js could cause one redundant update when the user provides an initial non-empty state. Shouldn't it be `const newListener = { oldState: mapState? mapState(store.state): store.state };` ?

[2020-09-28 20:51] jamesacklin commented on #40
This is also an issue for me.

[2020-10-06 10:38] hhhonzik commented on #45
We have exactly something like that built with immer.

[code]

Usage is pretty much just this:

[code]

[2020-10-06 11:50] andregardi commented on #45
Very clever, @hhhonzik!
By the way, the immer integration is ready.
You can check it on readme or in the sandbox example:
https://codesandbox.io/s/immer-integration-e1hpj

[2020-10-15 22:03] clearwaterstream opened #57 "In "Avoid unnecessary renders" example, how do I specify multiple actions?"
Hi,

I have multiple values in my global state, and I only want the relevant components re-rendered depending on the values they are observing in the global state. I took a look at the "Avoid unnecessary renders" and I'm trying to specify multiple actions per state item.

Say I have multiple way to mutate CounterA: increment, decrement, reset it, and so on.

The current example is like this:

[cod

[2020-10-16 01:36] clearwaterstream commented on #57
I can do something like

[code]
then I can do

[code]

[2020-11-09 18:49] lveillard commented on #45
This is so beautiful!

[2020-11-09 18:52] lveillard commented on #55
Hello huy, does this answer your question? https://github.com/andregardi/use-global-hook/issues/46

[2020-11-29 10:20] gor918 opened #58 "Question: How to create middleware?"

[2020-12-09 16:01] rickydo commented on #57
I'm having the same issue.
The project I'm on uses multiple actions to mutate a single state so I have to rewrite the same lines below for each different action:
`const [counterA2, addToCounterC] = useGlobal(
	state => state.counterA,
	actions => actions.addToCounterC
);`
"counterA2" just goes unused.
Surely, there's a cleaner way than to do this?

[2020-12-15 08:38] ElRatonDeFuego commented on #40
I've been bitten by this as well, know where the problem, and have a fix. The problem is here : https://github.com/andregardi/use-global-hook/blob/master/src/core/newListenerEffect.js#L5-L15

The state updater functions (either `originalHook` or the arrow function) should act as no-ops if the component is in the process of being unmounted. This could be done with a flag set to `true` in the cleanu

[2020-12-15 12:02] ElRatonDeFuego commented on #40
Hello, I've fixed this (as well as another issue) in a PR : https://github.com/andregardi/use-global-hook/pull/59

The problem was that, wen a component is being unmounted, it should not attempt to update its state.

If the body of useEffect functions may asynchronously attempt to update the state (as was the case here), they need to *not* call setState once the useEffect cleanup function has been

[2020-12-23 08:57] huy23121994 opened #60 "How can I update a store from another store?"
I use many use-global-hook, I call this is a store. Like:

`const useStore1= useGlobalHook(React, initialState, actions);`
`const useStore2 = useGlobalHook(React, initialState, actions);`

The question is how can I update Store2 state from Store1 state like:

[code]

[2020-12-27 17:05] lneir-plenty opened #62 "state not updated in parent when calling action in child's useEffect."
hello @andregardi, first off - thank you for your library - very concise and easy to use library.

i've ran into an issue where calling an action in child component's useEffect does not update the state in the parent component. this appears to happen because use-global-hook internally has a useEffect in customHook code (https://github.com/andregardi/use-global-hook/blob/master/src/core/customHook.

[2021-01-06 08:25] Twansparant commented on #40
Same issue for me and can confirm that @ElRatonDeFuego **PR** fixed it for me.
Thanks!

[2021-01-18 21:38] lneir-plenty opened #63 "avoid unnecessary renders does not work when selecting multiple state values."
The example: https://codesandbox.io/s/several-counters-pdbsy avoids unnecessary renders correctly but if multiple state items are selected in the mapState function then the render still occurs...

For example, in the forked example, (https://codesandbox.io/s/several-counters-bug-c-updates-ab-ldltx?file=/src/index.js) CounterAB selects both A and B state. When counter C is incremented then CounterA

[2021-01-21 03:09] j-xzy commented on #62
React.useEffect => React.useMemo(() => newlisten, []) ?

[2021-01-21 18:54] lneir-plenty commented on #62
have any details on how that resolves the issue? example?

[2021-01-23 08:32] mataspetrikas commented on #45
@andregardi this is super useful and working well. The only thing I've noticed is that the Immer integration is triggering TypeScript warnings as the setState doesn't expect the `(state:S) : void` as an argument.

maybe @ojameso or @kqito know how the type definition has to be updated to support this additional signature?

[code]

[2021-01-28 15:17] ElRatonDeFuego commented on #40
I've added another fix to my PR : https://github.com/ElRatonDeFuego/use-global-hook/commit/d2fbebfa9ee16931b19e09914457e3b19056c97d

You can test with `npm i --save ElRatonDeFuego/use-global-hook#0.2.1-2`

[2021-02-09 14:10] ElRatonDeFuego commented on #40
I've added yet another fix to my PR to prevent unnecessary re-renders on the first update: https://github.com/ElRatonDeFuego/use-global-hook/commit/ccbe16756de0a8634a840cdc12cbe7a3aae70bb3

You can test with `npm i --save ElRatonDeFuego/use-global-hook#0.2.1-3`

[2021-03-15 13:27] davityavryan opened #66 "Is is maintained?"
@andregardi
Seems like you stoped working on this. :/
https://isitmaintained.com/project/andregardi/use-global-hook

Should we fork?

[2021-03-15 15:57] codthing commented on #66
@davityavryan
@andregardi does not seem to be very active, I support your fork.

[2021-03-15 16:01] davityavryan commented on #66
;(
I just don't want to create another version of this. I understand that we might need to. But npm is already a zoo of packages.

Let's give him a week or so. if he will not respond then I might fork it and convert to TS

p.s. there is also another one https://www.npmjs.com/package/use-global-hook-ts seems to be a fork which is not maintained either. :(

[2021-03-17 19:20] andregardi commented on #66
Hey @davityavryan
Thank you for keep up with this project.

I have an ideia, maybe it is time to add more people as owners of this, starting with you.
I am going to look into the best way to we share the npm ownership and github repo.

[2021-03-17 20:00] davityavryan commented on #66
Hey @andregardi

It would be an honour for me. Thanks a lot.

I need a short chat with you just so that we will be on same page. I need to understand what it means for me in terms of responsibilities.
Can you setup https://gitter.im/ for `use-global-hook`? So that we can discuss privately (also it will be a benefit for the package, as of we will be more open for everyone). Just signal me here, I w

[2021-03-20 00:10] davityavryan commented on #66
@andregardi can you please release master or give me access? I merged https://github.com/andregardi/use-global-hook/pull/61

please consider Gitter so that we can chat privately

[2021-03-20 00:38] andregardi commented on #66
@davityavryan
I transferred the repo to a collaborative github corporation and set you as admin.
Tell me if that is working for you.

I added you to Gitter two days ago, also check that, please.

[2021-03-20 01:04] davityavryan commented on #66
All good. Thanks a lot. see you in Gitter. ;)

[2021-03-20 01:04] #66 closed, assigned to nobody

[2021-04-13 10:56] Flo0806 commented on #62
Hi!

One solution is to set a "setTimeout" like this:

`const Child = () => {
    const [globalState, globalActions] = useGlobal();
    React.useEffect(() => {
    // this effect runs before useEffect runs in parent's use-global-hook
    // so parent globalstate is not notified.
    setTimeout(() => {
    globalActions.addToCounter(10);
    })
}, [globalActions]);
`

[2021-04-14 09:59] Flo0806 commented on #62
I have an idea:
When the code of _use-global-hook_ will changed from "useEffect" to "useMemo", then the 'Bug' will solved. The initial State (Add to listeners) will be doing in **useMemo** and the "unmount" functions will be doing in **useEffect**.

Greatings, Flo

[2021-05-21 21:07] #63 closed, assigned to nobody

[2021-05-21 21:07] davityavryan commented on #63
should be fixed now.

[2021-06-10 12:04] iRON5 opened #73 "Is the project dead?"
What is the status of the project, is this just on maintenance or there are some plans to continue active development?

[2021-07-21 14:00] rickstaa commented on #73
@iRON5 I was wondering the same thing when I saw several old pull requests. Based on this issue #66 it looks like the project since May has shared ownership and is maintained. Are there any pull requests you need to have merged or was it like me just a question to see if you should use this hook in your next project?

[2021-07-21 14:02] rickstaa commented on #73
@iRON5 Ah, I now see those pull requests are from you. Maybe you can ask @andregardi  or @davityavryan for a review?

[2021-07-21 14:04] rickstaa commented on #73
@iRON5 Ah I now see that these pull requests are yours and that you already tagged the organization members.

[2021-07-21 14:11] rickstaa commented on #73
@iRON5 Ah, sorry, I now see that these pull requests are yours and that you already tagged the organization members. Maybe let's wait a bit for @andregardi and @davityavryan. If they do not reply, I am happy to help you maintain your fork. I already applied some (i.e. #70 and #72) of your pull request  in my fork.

[2021-07-22 01:03] davityavryan commented on #73
Hey @iRON5 @rickstaa

Answer is no, it's not dead.
My apologies though. I know that we haven't took care of issues and PR-s for some time.
This will change in August (at least for me). I will have more time and will review all issues and PRs.

Planned major changes that I would love to have are:
1. migrate source code to Typescript and providing typings from package itself
2. re-write/improvement

[2021-07-22 06:05] rickstaa commented on #73
@davityavryan No problem, thanks a lot for taking the time to maintain this project!

[2021-07-27 08:07] cryptoethic opened #74 "[bug] component does not rerender after state update in v0.3"
Hey!

After updating to v0.3 component does not rerender when state changes.

Example from readme:
https://codesandbox.io/s/several-counters-forked-7zcts?file=/src/index.js

[2021-07-27 08:22] cryptoethic commented on #74
Does not work in 0.2.5 as well

[2021-07-27 08:27] cryptoethic commented on #74
And in 0.2.4 also - it works as it should in 0.2.3

[2021-07-27 14:45] iRON5 commented on #74
Hey @cryptoethic , thanks for your help!
The issue is fixed and awaiting review: https://github.com/use-global-hook/use-global-hook/pull/75

[2021-07-27 15:09] cryptoethic commented on #74
Thanks for fast reaction ;-)

[2021-07-27 18:25] dancernogorsky commented on #74
Thanks Everyone!

I made the mistake of upgrading all my packages at once and burned a bunch of time to finally figure out this was the root of the issue.

[2021-07-27 19:36] iRON5 commented on #73
@davityavryan  great plans, I'd like to rewrite the lib with TypeScript!
BTW, maybe that makes sense to create github milestones and attach these tickets there

[2021-09-25 15:13] dwertheimer opened #78 "Error: Invalid hook call"
Using this exactly as per the instructions, React is erroring out:

[code]

[2021-11-08 13:38] yamiteru commented on #73
Looks like the project in fact is dead since nothing has changed as stated in previous comments.

[2021-11-08 16:05] iRON5 commented on #73
Indeed, my PRs were not reviewed for few months. Maybe that would change someday but the repo has no enough reliability now.

Btw, try the alternatives:
https://github.com/ctrlplusb/easy-peasy
https://github.com/avkonst/hookstate

[2021-11-08 23:59] davityavryan commented on #73
My apologies to all. I am going through some rough time currently, personal life-wise. I don't know when I will be able to support this package.

@andregardi can you please add @iRON5 or other interested parties as a co-owner?
You can remove me if needed.

[2021-11-09 00:21] andregardi commented on #73
Thank you @davityavryan for looking into that!
I invited @iRON5 to that as an admin.

[2021-11-09 08:12] iRON5 commented on #73
Ok, thanks guys, I'd like to help with that.
@andregardi but I still need access to npm for publishing updates.
Here is my npm account https://www.npmjs.com/~iron5

[2021-11-09 08:35] iRON5 commented on #74
waiting for npm access to publish the fix

[2021-11-19 17:33] no-stack-dub-sack opened #79 "types: add overload to setState for immer integration and add action types utility"
Thanks for the great library! Very east to use. I work with a team that's completely new to react and this lib felt like a great choice in order to keep things simple and the learning curve less steep (in place of react-redux + redux-observables).

I know the types are maintained on DefinitelyTyped, though I'm not sure if you're involved with them at all. In any case, just thought I'd link these d

[2021-11-19 17:56] no-stack-dub-sack opened #80 "onAfterUpdateCallback - add to immer integration, pass next state?"
I've noticed the `onAfterUpdateCallback` is not available for the immer integration. Is this by design?

Also, perhaps passing the next state to the callback could be useful if you wanted to call another action after `setState `has run which takes data that has just been set. Of course you could access that data directly in the next action, but maybe this is a shared action that is used in several

[2022-01-17 16:59] ketan-10 commented on #54
@huy23121994 Do you mean is it already answered? If so could you please share?

[2022-01-24 14:34] iRON5 commented on #54
Oh, sorry guys, but I think the project is totally dead, since my last request to get access to npm there was no answer yet and there are some PRs that live longer than 2 yrs.

Probably someday I'd get enough access here and will be able to publish new updates on this repo, but for now I'd suggest you just replace this packages with one of [more popular alternatives](https://github.com/use-global-

[2022-02-10 22:20] no-stack-dub-sack commented on #54
@iRON5 yup, considered this package as well. and conceptually it was super easy and fun to use, but just not enough support and a bit too buggy in more complex situations to risk using in any kind of non-pet / production project.

transitioned to using easy-peasy before reading your list of suggested alternatives and while it does not appear to have a ton of support currently, either. it's most re

[2022-02-12 20:09] gilliav opened #82 "Using two stores in one scope"
Hello,

I'm having an issue with using two different useStore in the same scope, since the "state" and "actions" variables are being declared twice. How can I go around it? can I rename the variables somehow?

Thank you for anyone who might help.

[2022-03-31 02:56] rinoarmadiaz commented on #82
you can try to create separate file / your own custom hooks for your own store.

example (for user info store) :
`actions.ts`
`state.ts`
`index.ts`
`useUserInfoAPI.ts`

your `action` should only contains updates for it's own store
as for api calls / any updates related with other stores / other hooks, you can call it inside `useUserInfoAPI.ts`

here are the code example :
[code]

this way, i can u

[2022-03-31 03:00] rinoarmadiaz commented on #78
you need to have your file name starts with `useSomeFunction`

imo, it would be better to separate between files for each of their responsibility for cleaner architecture.

you can take reference here, for using hooks inside our own global-hooks
https://github.com/use-global-hook/use-global-hook/issues/82#issuecomment-1084019283
@dwertheimer

[2022-04-19 07:48] jun-hak opened #84 "store size increase out of control when i update react-native version"
'react-native' : 0.63.4 -> 0.66

This is our package.json
"dependencies": {
    "@flat-white/core": "*",
    "@flat-white/models": "*",
    "@flat-white/react-native-sdk": "*",
    "@gorhom/bottom-sheet": "^4",
    "@react-native-async-storage/async-storage": "^1.14.1",
    "@react-native-community/checkbox": "^0.5.7",
    "@react-native-community/datetimepicker": "^3.4.2",
    "@react-native-comm

[2022-04-19 07:57] jun-hak commented on #84
And when i upgrade "use-global-hook" version to 0.3.0, i got an error not to find our method? (loadGlobalState)
Am i wrong to use the library?

All code is placed in different files.
`async function loadGlobalState(
  store: Store<iInitialState, iAssociatedActions>,
) {
..
}
`

`export interface iAssociatedActions {
  loadGlobalState: () => Promise<void>;
}
`
![image](https://user-images.githubuse

[2022-05-03 20:43] passion4code commented on #74
Any update on publishing this, or is `0.2.3` still the way?